body{
    margin: 0;
    background-color: rgba(255, 234, 46, 0.853);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.one{
    margin: auto;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 11px 7px black;
}


.four{
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 31px;
}

.three{
    margin-left: 40px;
}

.contact{
    background-color: rgb(251, 229, 29);
    padding: 2px;
    border: 1px solid rgb(251, 229, 29);
    border-radius: 4px;
    text-decoration: none;
    color: black;
}